<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>sw-central</id>
            <username>xxx</username>
            <password>xxx</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>sw-central</id>
            <mirrorOf>*</mirrorOf>
            <url>https://nexus.dspace.kt.co.kr/repository/maven-public/</url>
        </mirror>
    </mirrors>
    <localRepository>${WORKSPACE}/.m2/repository</localRepository>
</settings>
